<style>
    .new-container {
        width: 100vw;
    }

    .header {
        text-align: center
    }

    body {
        font-family: Arial, Helvetica, sans-serif;
    }

    .topnav {
        width: 100%;
        overflow: hidden;
        background-color: #333;
        position: relative;
    }

    .topnav a {
        float: left;
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

    .topnav a.Admin {
        float: right;
        background-color: black
    }

    .topnav a:hover {
        background-color: #ddd;
    }

    .active {
        background-color: #4CAF50;
        color: white;
    }

    .topnav a.Portfolio {
        float: right;
        /* color: black; */
    }


    button {
        background-color: #4CAF50;
        /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        -webkit-transition-duration: 0.4s;
        /* Safari */
        transition-duration: 0.4s;
    }


    button:hover {
        box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    }

    .disabled {
        opacity: 0.6;
        cursor: not-allowed;
    }
</style>

<div class="new-container">
    <div>
        <div *ngIf="changePdf">
            <input type="file" (change)="handleImage($event)" />
            <button (click)="handleUpload()">Upload Image</button>
        </div>
        <h2 class="header text-to-center">
            {{ pdf?.language !== "HebPDF" ? "Mor Bargig CV" : ' מור ברגיג קו"ח' }}
        </h2>
        <div class="full-width font-size-16">
            <button *ngFor="let btn of buttonsText" [class]="btn.name === pdf?.language ? 'disabled' : null"
                [name]="btn.name" [style]="pdf?.language === 'HebPDF' ? 'float: right;' : 'float: left;'"
                (click)="getPDF(btn.name)">
                {{ pdf?.language === "HebPDF" ? btn.hName : btn.eName }}
            </button>
        </div>
        <div class="topnav">
            <a (click)="openMenuFunc()" class="active">Menu</a>
            <div *ngIf="openMenu;else closeMenu" id="myLinks" class="full-width">
                <span class="links-container">
                    <a [href]="url" target="blank">pdf</a>
                    <a href="https://5d60919cef31b.site123.me/" target="blank">My Web Site</a>
                    <a href="https://github.com/morbargig" target="blank">GitHub</a>
                    <a href="https://www.linkedin.com/in/mor-bargig-744854182/" target="blank">LinkedIn</a>
                    <a href="tel:+972 52-861-2379" target="blank"> Contact </a>
                    <a href="mailto:mobargig@gmail.com" target="blank"> Email</a>
                </span>
                <a (click)="admin()" class="Admin">Admin ?</a>
            </div>
            <ng-template #closeMenu class="full-width">
                <a class="Portfolio" href="https://morbargig.github.io/" target="blank">
                    Portfolio <span></span>
                    <img class="Portfolio-img" src="assets/smallMorBargigSig.png" alt="Mor Bargig Brand"
                        [style]="'border-radius: 50%; margin-left: 0.25em height: 1em; width: 1em; vertical-align: text-bottom;'" />
                </a>
            </ng-template>
        </div>
        <div *ngIf="isMobile() else desktopPdf">
            <!-- [height]="`${$px > 3 ? 550 * $px : 5000 * $px}px`" frameBorder="0" scrolling="yes" -->
            <iframe title="pdf" id="pdf" name="pdf" [src]="url" width="100%" style="height: 150vw">
                <p>It appears your web browser doesn't support iframes.</p>
            </iframe>
        </div>

        <ng-template #desktopPdf>
            <embed id="pdf" name="pdf" type="application/pdf" [src]="url" width="100%" height="1000px" alt="pdf"
                pluginspage="http://www.adobe.com/products/acrobat/readstep2.html" background-color="0xFF525659"
                top-toolbar-height="56" full-frame="" internalinstanceid="22" title="Mor Bargig" />
        </ng-template>
    </div>
</div>